﻿body {
    margin: 0;
    font-family: Verdana;
    font-size: 16px;
}
header{
    text-align: center;
    padding: 25px 0;
    background-color: #0094ff;
}
ul{
    margin: 0;
    padding: 0
}
ul li{
    list-style-type: none;
    text-decoration: none;
}
li a{
    color: #fff;
}
.info p{
    margin: 0;
    color: #fff;
}

footer{
    text-align: center;
    bottom: 0;
    padding: 15px 0;
    background-color: #0094ff;
}
footer p{
    color: #fff;
}
.corpo{
    height: 900px;
    padding: 0 0 0 25px;
}

.corpo input[type="text"]{
    border-radius: 3px;
    border: 1px solid #0094ff;
    height: 25px;
    font-size: 16px;
}
.corpo input{
    border-radius: 3px;
    border: 1px solid #0094ff;
    height: 25px;
    font-size: 16px;
}
.corpo input[type="submit"]{
    margin-top: 20px;
    border-radius: 3px;
    background-color: #0094ff;
    color: #fff;
    height: 30px;
    width: 98px;
    display: block;
}