﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Estilos.css" rel="stylesheet" />
    <script src="~/Scripts/script.js"></script>
    <title>Prova 1° Bimestre</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>@Html.ActionLink("Cadastrar Contato","Cadastro", "Cliente")</li>
                <li>@Html.ActionLink("Cadastro Telefone", "Cadastro", "Telefone")</li>
                <li>@Html.ActionLink("Pesquisar Contato", "Pesquisar", "Pesquisa")</li>
            </ul>
        </nav>
        <div class="info">
            <p>Nome: Ederson de Abreu Neves</p><br />
            <p>RA: 3391305703</p>
        </div>
       
    </header>
    <div class="corpo"> 
        @RenderBody()
    </div>
    <footer>
        <p>Prova do 1° Bimestre</p>
    </footer>
</body>
</html>
